In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('Insertar.csv')

In [18]:
df

,item_codigo,Nombre_producto,Stock,Precio,identificador A,Identificador B
0,2,Casco de seguridad,23,185.61,hnssi83hl1,bqkg5a6kom
1,3,Nivel láser,97,270.38,oeqisfth2g,924ytgkg6g
2,4,Casco de seguridad,93,148.53,vwwovvop1z,oknus0kqxx
3,5,Pala,88,497.54,xw63ohy7rt,79tf8mvl3g
4,6,Yeso,61,210.80,zc50g3jea8,3mq3c3n82c
...,...,...,...,...,...,...
495,497,Ladrillo refractario,41,415.71,teolayda4s,riehzotwk6
496,498,Tubo cobre,96,117.52,hdlgrbgtxt,jj7y6uy5bn
497,499,Nivel láser,11,433.82,y9fp7y85nh,h32le9910o
498,500,Cinta métrica,51,360.98,kpit0x7u4e,3por4p0w8d
499,501,Cal hidratada,80,234.22,qpbg5yumb0,otnoi15n1g

In [19]:
df.dtypes

item_codigo          int64
Nombre_producto     object
Stock                int64
Precio             float64
identificador A     object
Identificador B     object
dtype: object

In [20]:
df['item_codigo']=df['item_codigo'].astype(str)

In [21]:
df.dtypes

item_codigo         object
Nombre_producto     object
Stock                int64
Precio             float64
identificador A     object
Identificador B     object
dtype: object

In [22]:
df['item_codigo'] = df['item_codigo'].apply(lambda x: '"' + x.zfill(5) + '"')

In [23]:
df

,item_codigo,Nombre_producto,Stock,Precio,identificador A,Identificador B
0,"""00002""",Casco de seguridad,23,185.61,hnssi83hl1,bqkg5a6kom
1,"""00003""",Nivel láser,97,270.38,oeqisfth2g,924ytgkg6g
2,"""00004""",Casco de seguridad,93,148.53,vwwovvop1z,oknus0kqxx
3,"""00005""",Pala,88,497.54,xw63ohy7rt,79tf8mvl3g
4,"""00006""",Yeso,61,210.80,zc50g3jea8,3mq3c3n82c
...,...,...,...,...,...,...
495,"""00497""",Ladrillo refractario,41,415.71,teolayda4s,riehzotwk6
496,"""00498""",Tubo cobre,96,117.52,hdlgrbgtxt,jj7y6uy5bn
497,"""00499""",Nivel láser,11,433.82,y9fp7y85nh,h32le9910o
498,"""00500""",Cinta métrica,51,360.98,kpit0x7u4e,3por4p0w8d
499,"""00501""",Cal hidratada,80,234.22,qpbg5yumb0,otnoi15n1g

In [24]:
df['identificador A'] = '"' + df['identificador A'].astype(str) + '"'

In [25]:
df

,item_codigo,Nombre_producto,Stock,Precio,identificador A,Identificador B
0,"""00002""",Casco de seguridad,23,185.61,"""hnssi83hl1""",bqkg5a6kom
1,"""00003""",Nivel láser,97,270.38,"""oeqisfth2g""",924ytgkg6g
2,"""00004""",Casco de seguridad,93,148.53,"""vwwovvop1z""",oknus0kqxx
3,"""00005""",Pala,88,497.54,"""xw63ohy7rt""",79tf8mvl3g
4,"""00006""",Yeso,61,210.80,"""zc50g3jea8""",3mq3c3n82c
...,...,...,...,...,...,...
495,"""00497""",Ladrillo refractario,41,415.71,"""teolayda4s""",riehzotwk6
496,"""00498""",Tubo cobre,96,117.52,"""hdlgrbgtxt""",jj7y6uy5bn
497,"""00499""",Nivel láser,11,433.82,"""y9fp7y85nh""",h32le9910o
498,"""00500""",Cinta métrica,51,360.98,"""kpit0x7u4e""",3por4p0w8d
499,"""00501""",Cal hidratada,80,234.22,"""qpbg5yumb0""",otnoi15n1g

In [27]:
df['Identificador B'] = '"' + df['Identificador B'].astype(str) + '"'

In [28]:
df

,item_codigo,Nombre_producto,Stock,Precio,identificador A,Identificador B
0,"""00002""",Casco de seguridad,23,185.61,"""hnssi83hl1""","""bqkg5a6kom"""
1,"""00003""",Nivel láser,97,270.38,"""oeqisfth2g""","""924ytgkg6g"""
2,"""00004""",Casco de seguridad,93,148.53,"""vwwovvop1z""","""oknus0kqxx"""
3,"""00005""",Pala,88,497.54,"""xw63ohy7rt""","""79tf8mvl3g"""
4,"""00006""",Yeso,61,210.80,"""zc50g3jea8""","""3mq3c3n82c"""
...,...,...,...,...,...,...
495,"""00497""",Ladrillo refractario,41,415.71,"""teolayda4s""","""riehzotwk6"""
496,"""00498""",Tubo cobre,96,117.52,"""hdlgrbgtxt""","""jj7y6uy5bn"""
497,"""00499""",Nivel láser,11,433.82,"""y9fp7y85nh""","""h32le9910o"""
498,"""00500""",Cinta métrica,51,360.98,"""kpit0x7u4e""","""3por4p0w8d"""
499,"""00501""",Cal hidratada,80,234.22,"""qpbg5yumb0""","""otnoi15n1g"""

In [29]:
# Suponiendo que ya tienes el DataFrame df modificado
df.to_csv('prueba_data.csv', index=False)

In [30]:
dfe = pd.read_csv('empleados.csv')

In [35]:
dfe['Id'] = '"' + dfe['Id'].astype(str) + '"'

In [36]:
dfe

,Id,Nombre,Sexo,Fecha de nacimiento,Fecha Ingreso,SegundoNombre,Apellido,NombreCompleto
0,"""HR-EMP-00001""",Maria,Femenino,07/12/1978,11/08/2021,Miguel,Brown,Maria Miguel Brown
1,"""HR-EMP-00002""",Carlos,Masculino,01/06/1998,18/02/2023,Ricardo,Garcia,Carlos Ricardo Garcia
2,"""HR-EMP-00003""",Luisa,Masculino,24/02/1987,29/03/2023,Elena,Trump,Luisa Elena Trump
3,"""HR-EMP-00004""",Jose,Masculino,22/07/2001,30/08/2022,Teresa,Brown,Jose Teresa Brown
4,"""HR-EMP-00005""",Carlos,Masculino,08/06/1973,03/03/2022,Teresa,Miller,Carlos Teresa Miller
5,"""HR-EMP-00006""",Sofia,Masculino,01/12/1972,05/05/2020,Isabel,Johnson,Sofia Isabel Johnson
6,"""HR-EMP-00007""",David,Masculino,06/10/1993,17/05/2023,Roberto,Johnson,David Roberto Johnson
7,"""HR-EMP-00008""",Luisa,Masculino,19/11/1997,11/04/2021,Teresa,Davis,Luisa Teresa Davis
8,"""HR-EMP-00009""",Luisa,Masculino,15/01/1996,17/05/2021,Ricardo,Garcia,Luisa Ricardo Garcia
9,"""HR-EMP-00010""",Ana,Masculino,27/01/1991,10/10/2022,Miguel,Rodriguez,Ana Miguel Rodriguez
10,"""HR-EMP-00011""",Pedro,Femenino,29/09/1989,21/04/2022,Isabel,Smith,Pedro Isabel Smith
11,"""HR-EMP-00012""",Carlos,Femenino,05/06/1978,04/11/2023,Miguel,Miller,Carlos Miguel Miller
12,"""HR-EMP-00013""",Pedro,Femenino,06/09/1978,26/03/2020,Eduardo,Williams,Pedro Eduardo Williams
13,"""HR-EMP-00014""",David,Femenino,03/11/1981,20/11/2022,Manuel,Brown,David Manuel Brown
14,"""HR-EMP-00015""",Carlos,Masculino,21/07/1971,10/02/2023,Roberto,Davis,Carlos Roberto Davis
15,"""HR-EMP-00016""",Carlos,Femenino,05/05/1996,16/11/2022,Carmen,Jones,Carlos Carmen Jones
16,"""HR-EMP-00017""",Carlos,Femenino,19/02/1979,11/03/2022,Manuel,Williams,Carlos Manuel Williams
17,"""HR-EMP-00018""",Juan,Femenino,29/09/1982,22/11/2020,Miguel,Rodriguez,Juan Miguel Rodriguez
18,"""HR-EMP-00019""",Carlos,Masculino,12/01/1993,27/04/2022,Isabel,Smith,Carlos Isabel Smith
19,"""HR-EMP-00020""",Lucia,Masculino,07/05/1975,23/09/2021,Carmen,Rodriguez,Lucia Carmen Rodriguez
20,"""HR-EMP-00021""",Luisa,Femenino,21/12/1988,02/09/2020,Ricardo,Brown,Luisa Ricardo Brown
21,"""HR-EMP-00022""",Pedro,Masculino,21/03/1986,27/04/2023,Manuel,Trump,Pedro Manuel Trump
22,"""HR-EMP-00023""",Pedro,Femenino,05/08/1977,08/02/2020,Laura,Williams,Pedro Laura Williams
23,"""HR-EMP-00024""",Juan,Masculino,16/03/1991,02/07/2023,Elena,Williams,Juan Elena Williams
24,"""HR-EMP-00025""",Pedro,Masculino,12/05/1993,24/04/2020,Carmen,Brown,Pedro Carmen Brown
25,"""HR-EMP-00026""",Luisa,Masculino,06/12/1977,03/11/2022,Miguel,Williams,Luisa Miguel Williams
26,"""HR-EMP-00027""",Maria,Femenino,20/02/1982,14/11/2022,Isabel,Trump,Maria Isabel Trump
27,"""HR-EMP-00028""",Juan,Femenino,05/06/1982,16/02/2022,Teresa,Garcia,Juan Teresa Garcia
28,"""HR-EMP-00029""",Luisa,Femenino,06/05/1980,23/08/2021,Eduardo,Smith,Luisa Eduardo Smith
29,"""HR-EMP-00030""",Sofia,Masculino,09/10/1990,20/02/2021,Eduardo,Johnson,Sofia Eduardo Johnson
30,"""HR-EMP-00031""",Carlos,Masculino,15/01/1990,01/04/2021,Elena,Rodriguez,Carlos Elena Rodriguez
31,"""HR-EMP-00032""",Luisa,Masculino,05/03/1992,20/05/2022,Isabel,Rodriguez,Luisa Isabel Rodriguez
32,"""HR-EMP-00033""",David,Masculino,09/12/1982,15/08/2020,Manuel,Brown,David Manuel Brown
33,"""HR-EMP-00034""",Sofia,Masculino,22/09/1988,05/09/2023,Roberto,Johnson,Sofia Roberto Johnson
34,"""HR-EMP-00035""",Pedro,Femenino,13/09/1979,21/10/2020,Eduardo,Smith,Pedro Eduardo Smith
35,"""HR-EMP-00036""",Jose,Masculino,30/09/1979,15/11/2023,Miguel,Johnson,Jose Miguel Johnson
36,"""HR-EMP-00037""",Luisa,Femenino,23/11/1980,18/11/2022,Teresa,Rodriguez,Luisa Teresa Rodriguez
37,"""HR-EMP-00038""",Luisa,Masculino,10/09/1974,29/03/2022,Carmen,Rodriguez,Luisa Carmen Rodriguez
38,"""HR-EMP-00039""",Maria,Femenino,27/04/2003,25/04/2022,Carmen,Davis,Maria Carmen Davis
39,"""HR-EMP-00040""",David,Femenino,05/03/2002,19/09/2020,Eduardo,Jones,David Eduardo Jones

In [37]:
dfe.to_csv('empleadoCorregido.csv', index=False)